@import "variable.styl"
html
  height: 100%
  overflow-x: hidden
body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  width: 100%
  max-width: 640px
  margin: 0 auto
  
.mint-indicator-text
  font-size: 14px !important
.mint-cell-text,.mint-field-core
  font-size: $font-size-medium !important
.mint-cell
  min-height: 0.96rem !important
input
  -webkit-user-modify: read-write-plaintext-only
.child-view
  position: absolute
  padding-bottom: 1.04rem
  width: 100%
  transition: all .8s cubic-bezier(.55, 0, .1, 1)